<div class="sticky-bottom d-flex align-items-center justify-content-center header mb-5">
	<div class="row">
            <h1>{{title}}</h1>
        </div> 
</div>

<div class="mx-auto chessboard-container">

    <div class="row">
        <div class="col-sm ml-5">
            <form [formGroup]="formControl" class="container">
                <div class="form-group row">
                    <label for="X">Set X:</label>
                    <input data-testid="xCoords" type="number" min="0" formControlName="X" class="form-control" aria-describedby="emailHelp" placeholder="Set X coordinate">
                </div>
                <div class="form-group mt-2 row">
                    <label for="Y">Set Y:</label>
                    <input data-testid="yCoords" type="number" min="0" formControlName="Y" class="form-control" aria-describedby="emailHelp" placeholder="Set Y coordinate">
                </div>
                <div class="form-group mt-2 row">
                    <label for="direction">Set direction:</label>
                    <select class="form-control" formControlName="direction">
                      <option [value]="direction" *ngFor="let direction of cardinalPoints">{{direction}}</option>
                    </select>
                </div>
                <div class="row mt-2 mb-2">
                    <button data-testid="bPlaceRobot" type="button" class="btn btn-secondary" (click)="placeRobot()">Place</button>
                </div>
                <div class="row mt-2 mb-2">
                    <button data-testid="bShowReport" type="button" class="btn btn-secondary" (click)="toggleReport()">Show - Hide Report</button>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="btn-group" role="group" aria-label="robot controls">
                        <button data-testid="bLeft" type="button" class="btn btn-outline-secondary" (click)="moveRobot('left')"><i class="bi bi-sign-turn-left"></i> Left</button>
                        <button data-testid="bMove" type="button" class="btn btn-outline-secondary" (click)="moveRobot('move')"><i class="bi bi-arrow-up-square"></i> Move</button>
                        <button data-testid="bRight" type="button" class="btn btn-outline-secondary" (click)="moveRobot('right')">Right <i class="bi bi-sign-turn-right"></i></button>
                    </div>
                </div>
                                  
            </form>
        </div>
        <div class="col-sm">
            <div class="container border shadow-lg d-flex flex-column-reverse">
                <div class="row" *ngFor="let square of getNumberOfColumns(); let rIndex = index">
                  <div class="col ratio ratio-1x1 border p-0" 
                    [ngClass]="rIndex%2 ? cIndex%2 ? 'even' : 'odd' : cIndex%2 ? 'odd' : 'even'"
                    *ngFor="let square of getNumberOfColumns(); let cIndex = index"
            
                    >
                        <toy-robot
                            *ngIf="robotCoordinates != null && rIndex === robotCoordinates.Y && cIndex === robotCoordinates.X"
                            [robotState$]="robotState$"
                            >
                        </toy-robot>
                  </div>
                </div>
            </div> 
        </div>

    </div>
    
</div>

<div *ngIf="showReport" class="mx-auto mt-4 m-3 chessboard-container bottom-0 start-0 ">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-3">Report</h5>
            <p *ngIf="robotState$.value!=null" class="card-text">X Position: {{robotState$.value['X']}}</p>
            <p *ngIf="robotState$.value!=null" class="card-text">Y Position: {{robotState$.value['Y']}}</p>
            <p *ngIf="robotState$.value!=null" class="card-text">Direction: {{robotState$.value['direction']}}</p>
            <p *ngIf="robotState$.value==null" class="card-text">No Robot in the chessboard</p>
        </div>
        </div>
</div>

<toast></toast>