/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.odd {
    background-color: $gray-200;
}

.even {
    background-color: $green-200;
}

.header {
    height: 75px;
    background-color: $green-200;
}

.chessboard-container{
    max-width: 756px;
    padding-left: 20px;
    padding-right: 20px;
}  